@import "@tomtom-international/web-sdk-maps";
@import '@tomtom-international/web-sdk-plugin-searchbox/dist/SearchBox.css';
#map {
    height: 80vh;
    width: 80vw;
    margin-left:10vw;
}
.button{
    display:flex;
    justify-content:center;

}
button{
    margin:2vw;
    padding-right:1vw;
    padding-left:1vw;

    padding-top:10px;
    padding-bottom:10px;
    border:1px solid #de372f;
    border-radius: 35px;
    cursor:pointer;
}
.close{
    min-width:10vw;
    color:#de372f;
    background-color: white;
}
.submit{
    min-width:10vw;
    color:white;
    
    background-color: #de372f;
}

.container{
    z-index: 4;
}