.background{
	margin-top:5vh;
	background-color:#ffffff;
	
}
.container{
	background-color:white;
	margin:5%;
    
    padding-bottom: 1%;
}

.name{
	width:70%;
	margin-left:10%;
}

.subtitle{
    margin-top: 2vh;
    font-size:1.5rem;
    margin-left:5%
}

.title{
    font-size: 2rem;
    text-align: center;
    margin-top: 1%;
    margin-left:5%
}

.checkbox{
	outline:none;
	font-size:1.2rem;
	border: none;
	border-bottom:0px solid black;
	margin-top:3%;
	margin-left:5%;
	width:10%;
	padding-bottom:0px;
}
.checkbox-label{
	width:70%;
}
.label{
	font-size:1.2rem;
	margin-left:5%;
	margin-top:5%;
}

input{
	outline:none;
	font-size:1.2rem;
	border: none;
	border-bottom:2px solid black;
	margin-top:3%;
	margin-left:5%;
	width:80%;
}
strong{
	font-size:1.5rem;
}

.abutton{
	background-color: red;
	color: #ffffff;
}
hr{
	color: grey;
}